{
    "testServer": "testserverid",
    "clientId": "botclientid",
    "devs": [
        "youruserid"
    ],
    "generation": {
        "showImageAuthor": true,
        "progressUpdateIntervalMs": 2500,
        "imagePreviewFormat": "jpg"
    }
}