{
    "baseUrl": "http://localhost",
    "port": "7860",
    "useUltimateSdUpscale": false,
    "generationDefaults": {
        "defaultNegativePrompt": "(low quality, worst quality:1.4)",
        "defaultModel": "v1-5-pruned",
        "defaultCfg": 7,
        "defaultSteps": 20,
        "defaultUpscalerIndex": 5
    },
    "cfg_choices": [
        {
            "name": "Default",
            "value": 7,
            "default": true
        },
        {
            "name": "High",
            "value": 4
        },
        {
            "name": "Low",
            "value": 10
        }
    ],
    "steps_choices": [
        {
            "name": "Default",
            "value": 20,
            "default": true
        },
        {
            "name": "Enhanced",
            "value": 35
        },
        {
            "name": "High",
            "value": 50
        }
    ],
    "upscalers": [
        {
            "name": "Lanczos",
            "value": 1
        },
        {
            "name": "Nearest",

            "value": 2
        },
        {
            "name": "ESRGAN_4x",
            "value": 3
        },
        {
            "name": "LDSR",
            "value": 4
        },
        {
            "name": "R-ESRGAN_4x+",
            "value": 5,
            "default": true
        },
        {
            "name": "R-ESRGAN 4x+ Anime6B",
            "value": 6
        },
        {
            "name": "ScuNET GAN",
            "value": 7
        },
        {
            "name": "ScuNET PSNR",
            "value": 8
        },
        {
            "name": "SwinIR 4x",
            "value": 9
        }
    ],
    "controlnetModels": [
        {
            "name": "Depth",
            "value": "control_v11f1p_sd15_depth [cfd03158]"
        },
        {
            "name": "Canny",
            "value": "control_v11p_sd15_canny [d14c016b]"
        },
        {
            "name": "Openpose",
            "value": "control_v11p_sd15_openpose [cab727d4]"
        }
    ]
}