{
    "baseUrl": "http://localhost",
    "port": "7860",
    "generationDefaults": {
        "defaultNegativePrompt": "(low quality, worst quality:1.4)",
        "defaultModel": "v1-5-pruned",
        "defaultCfg": 7,
        "defaultSteps": 20
    },
    "cfg_choices": [
        {
            "name": "Default",
            "value": 7,
            "default": true
        },
        {
            "name": "High",
            "value": 4
        },
        {
            "name": "Low",
            "value": 10
        }
    ],
    "steps_choices": [
        {
            "name": "Default",
            "value": 20,
            "default": true
        },
        {
            "name": "Enhanced",
            "value": 35
        },
        {
            "name": "High",
            "value": 50
        }
    ]
}